<div xmlns:th="https://www.thymeleaf.org"
        th:fragment="widget (sidebar)"
        th:class="'card widget notice ' + ${sidebar.hide} + ' is-hidden-all'">
    <div class="card-title">
        <i class="ri-volume-up-line card-title-label"></i><span>韩服-夏季更新日程</span>
    </div>
    <div class="card-content">
        <div th:utext="${#strings.isEmpty(theme.config.sidebar.dongtai_content)? '<p>&emsp;&emsp;欢迎来访' + site.title + '，还没有发布任何更新内容！</p>' : theme.config.sidebar.dongtai_content}"></div>
    </div>
</div>